:root {
  --primary-color: rgb(164, 67, 255);
  --secondary-color: #ff7c00;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --box-shadow: 3px 3px 5px rgb(239, 234, 234);
}

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 28px;
  line-height: 1.5;
  padding: 20px 0 0;
  font-family: var(--secondary-font);
  font-weight: bold;
}
.p-title {
  color: var(--primary-color);
  font-size: 34px;
  line-height: 1.5;
  padding: 20px 0 0;
  font-family: var(--primary-font);
  font-weight: bolder;
}
.sentence {
  font-size: 20px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
.btn-branding-orange {
  background: var(--secondary-color);
  color: white;
  padding: 12px 30px;
  margin: 20px;
  box-shadow: var(--box-shadow);
}
.btn-branding-orange:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.btn-branding-purple {
  border-radius: 4px;
  padding: 20px 100px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.btn-branding-purple:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.hero {
  text-align: center;
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}
.text-wrapping {
  margin: 20px 0;
}

.about-section {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.about-section img {
  max-width: 80%;
  margin: 30px;
}
.certificates h1 {
  color: black;
  font-size: 65px;
  margin-top: 30px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
.work-section h1 {
  color: black;
  font-size: 65px;
  margin-top: 40px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
@media (max-width: 900px) {
  .work-section h1,
  h1 {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .btn-branding-purple {
    display: block;
    margin: 0px auto;
  }
  .btn-branding-orange {
    display: block;
    margin: 20px auto;
  }
}
